

PINECONE_API_KEY=your-pinecone-api-key
HUGGINGFACEHUB_API_TOKEN=your-huggingfacehub-api-token

#We can use other models as well,
GROQ_API_KEY=your-groq-api-key
GEMINI_API_KEY=your-gemini-api-key
OPENAI_API_KEY=your-openai-api-key
