GROQ_API_KEY=#groq-api-key
GEMINI_API_KEY=#gemini-api-key
OPENAI_API_KEY=#openai-api-key
HUGGINGFACEHUB_API_TOKEN=#hf-token

#Neo4j
#? Use neo4j+ssc if not able to connect by neo4j+s

NEO4J_URI=#NEO4J_URI
NEO4J_USERNAME=#NEO4J_USERNAME
NEO4J_PASSWORD=#NEO4J_PASSWORD
NEO4J_DATABASE=#NEO4J_DB
AURA_INSTANCEID=#AURA_INSTANCEID
AURA_INSTANCENAME=#AURA_INSTANCENAME
